body {
    margin:0;
    padding:0;
    width:100%;
}

input {
    outline: none;
}

a {
    background:#FFFFFF;
    color:#000000;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover {
    background:rgb(150, 138, 138);
    color:#ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover,
a:active,
a.active {
    background:rgb(7, 6, 6);
    color:#fff133;
    text-transform: uppercase;
    text-decoration: none;
}

.main-content {
    margin: 20px 0px;
}

.main-content-wrapper {
    width:100%;
}

/* Buttons */

button, .btn {
    background:none;
    color:#FFFFFF;
    background: #000000;
    border:none;
    text-transform: uppercase;
    margin:0 10px;
    padding:0;
}

button:hover, .btn:hover {
   border:none;
   background: #ff5e00;
   color:#fff133;
   margin:0 10px;
   padding:0;
   cursor: pointer;

}