.events-wrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.events-wrapper button {
    border:none;
    margin:10px;
    padding:10px;
    font-size:20px;
    background: #000000;
    color:#FFFFFF;
    box-shadow: 8px 5px 8px rgba(0,0,0,0.29);
    cursor: pointer;
    width:200px;
}

.events-wrapper button:hover {
    border:none;
    margin:10px;
    padding:10px;
    font-size:20px;
    background: #000000;
    color:#fff133;
    box-shadow: 8px 5px 8px rgba(0,0,0,0.29);
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

/* FORM */

.form-wrapper__events {
    display: flex;
    justify-content: center;
}

.form-wrapper__events input,textarea {
    background-color:#cacaca; 
    margin:10px;
    padding:10px;
    font-size:20px;
    text-align: center;
    border:none;
    width:100%;
}



/* Removes the clear button from date inputs */
input[type="datetime-local"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="datetime-local"]::-webkit-inner-spin-button { 
    display:none;
}

/* Always display the drop down caret */
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
    padding:0;
}

input::placeholder::before[type="datetime-local"] {
    color: #95a5a6;
}
input[type="datetime-local"] {
    color: #000000;
}

input[type="date"]{
    appearance: none;
    color: rgba(37, 37, 37, 0.493);
    
}

input#date {
    font-size:15px;
}







