.event__list-item {
    display: flex;
    flex-direction: column;
    padding:20px 0;
    border-bottom: 0.2px solid #b6b6b6;
}

.item-details {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.detailed-item button {
    background: #000000;
}

.detailed-item button:hover {
    background: #000000;
    color:#fffb00;
}

.detailed-item h1 {
    margin:0;
}

.detailed-item h2 {
    font-size:1.2rem;
    margin:0;
}

.detailed-item p {
    margin:5px 0;
    text-transform: uppercase;

}
