header {
    background-color:#fffb00;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.mainnav__logo {
    margin:10px 20px;
}

.mainnav__item {
    margin: 10px 20px;
}

.mainnav__item li {
    list-style: none; 
    margin:0px 5px;
 }

.mainnav__item ul {
    display: flex;
    margin:0;
 }


