header {
    background-color:#fffb00;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.mainnav__logo {
    margin:10px 20px;
}

.mainnav__item {
    margin: 10px 20px;
}

.mainnav__item li {
    list-style: none; 
    margin:0px 5px;
 }

.mainnav__item ul {
    display: flex;
    margin:0;


 }

.mainnav__item a:hover,
.mainnav__item a:active,
.mainnav__item a.active {
    background:rgb(7, 6, 6);
    color:#fff133;
    text-transform: uppercase;
    text-decoration: none;
}
