

.modal {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    left: 5%;
    position: fixed;
    top: 20vh;
    z-index: 100;
    width: 90%;
  }

.modal__header {
    background: none;
    text-transform: uppercase;
    font-size:1.30rem;
    margin:5px 0;
}

.modal__content {
    padding:1rem;
    /* margin:10px 0; */
}

.modal__actions {
    display: flex;
    justify-content: space-evenly;
    margin-bottom:20px;
}

.modal__actions button:hover, .btn:hover {
    border:none;
    background: #000000;
    color:#fff133;
    margin:0 10px;
    padding:0;
    cursor: pointer;
    outline:none;
 
 }

 @media (min-width: 768px) {
    .modal {
      width: 30rem;
      left: calc((100% - 30rem) / 2);
    }
  }