
.modal {
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin:5px 30px;
    padding:10px;
    background:rgba(255, 255, 255, 0.9);
    box-shadow: 8px 5px 8px rgba(0,0,0,0.29);
    position:fixed;
    top:15vh;
    left:13%;
    width:63%;
}

.modal__header {
    background: none;
    text-transform: uppercase;
    font-size:1.30rem;
    margin:5px 0;
}

.modal__content {
    padding:1rem;
    margin:10px 0;
}

.modal__actions {
    display: flex;
    justify-content: space-evenly;
    margin-bottom:20px;
}
